

<div class="footer">
  <p><a id="github" href="https://github.com/huguessK">My github <i class="bi bi-github" style="font-size: 1.5rem;" ></i></a></p>
</div>

<!-- Bootstrap Js-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<!-- dom Js file-->
<script type="text/javascript" src="DomJs/jsdom.js"></script>
  </body>
</html>
