<%- include("partials/header"); -%>

<div class="about">
  <p>I am an engineer, graduated from École polytechnique universitaire de Grenoble-Alpes.</p>
  <p>My fields of expertise are computer vision, signal processing, AI, control systems and electronic.</p>
  <p>
    Having always been passionate about web and mobile application development,<br>
  I decided to take action by training myself through <b>Bootcamps</b> and <b>free resources available on the internet</b>.<br>
  This is my personal website to show my work in web/app development as I go along.
    </p>
    <p>
      The courses I attended :
        <ul class="courses">
          <li><a href="bootcamp/WebDev/Web+Dev+Syllabus.pdf"> Web development</a></li>
          <li><a href="bootcamp/AppDev/Flutter+Dev+Syllabus.pdf"> App development with Flutter</a></li>
        </ul>

    </p>




  </div>

<%- include("partials/footer"); -%>
