<%- include("partials/header"); -%>

<div class="about">
  <p>I am an engineer, graduated from École polytechnique universitaire de Grenoble-Alpes.</p>
  <p>My fields of expertise are computer vision, signal processing, AI, control systems and electronic.</p>
  <p>
    Having always been passionate about web and mobile application development,<br>
  I decided to take action by training myself through <a  href="bootcamp/WebDev/Web+Dev+Syllabus.pdf">bootcamp</a> and free resources available on the internet.<br>
  This is my personal website to show my work in web development as I go along.
    </p>
    <p>
      Once I've reached my goals in web development through the different projects I'm working on,<br>
       I will tackle mobile application development (Android and iOS). It will be a long term work but I will get there.
      </p>




  </div>

<%- include("partials/footer"); -%>
