<%- include("partials/header"); -%>
<h3>Something goes wrong! Please, come back later.</h3>
<button class="button-message" onclick="location.href='/';">Return to home page</button>


<%- include("partials/footer"); -%>
