<%- include("partials/header"); -%>

<%#<h3 id=contact-me>Contact me</h3>%>
<div class="contact-me-message">
  <h3>Suggestions to enhance my website?</h3>
  <!--<h4>You want me to work with you on a project?</h4>-->
  <h5>Don't hesitate to get in touch.</h5>
  </div>



<div class="container-contact">
  <form action="/contact" method="post">

    <label for="email">Email<span style="color:red;">*</span></label>
   <input type="text" placeholder="Your e-mail..." maxlength="40" name="email"  pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required>

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your first name..." maxlength="20">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..." maxlength="20">

    <label for="subject">Message</label>
    <textarea id="subject" name="subject" required placeholder="Your message..." maxlength="150"></textarea>

    <input type="submit" value="Send message">

  </form>
</div>

<%- include("partials/footer"); -%>
