<%- include("partials/header"); -%>

<h3>Message sent successfully!</h3>
<button class="button-message" onclick="location.href='/';">Return to home page</button>


<%- include("partials/footer"); -%>
