<%- include("partials/header"); -%>

<!-- Body  [Bootstrap used here]----->
<div class="projects-page projects-grid-container">




  <%#projet 1%>

    <div class="card project1" style="width: 18rem;">
      <img src="images/search.jpg" class="card-img-top" alt="search image">
      <div class="card-body">
        <h5 class="card-title"><b>Search engine using Web search API </b>[HTML, CSS, Bootstrap, Js, Node.js, Express.js, ejs, Api]</h5>
        <p class="card-text">This project was designed to run on any screen, including phones and tablets</p>
        <a  onclick="news()"class="btn btn-primary">See project</a>
      </div>
    </div>


<%#projet 2%>
  <div class="card project2" style="width: 18rem;">
    <img src="images/ecom.jpg" class="card-img-top" alt="search image">
    <div class="card-body">
      <h5 class="card-title"><b>ECommerce Webshop</b>[Node.js, Express.js, React.js, React Components, React Props...]</h5>
      <p class="card-text">This project was designed to run on PCs, Laptops & Surface Hub</p>
      <a  href="https://leafy-kulfi-75cef4.netlify.app" class="btn btn-primary">See project</a>
    </div>
  </div>



<%#projet 3%>
  <div class="card project3" style="width: 18rem;">
    <img src="images/web3project1.jpg" class="card-img-top" alt="search image">
    <div class="card-body">
      <h5 class="card-title"><b>NFT Marketplace</b>[Motoko programming language]</h5>
      <p class="card-text">This project will run on the Internet Computer blockchain network</p>%>
      <a  href="https://github.com/huguessK/NftMarketplace" class="btn btn-primary">About the project</a>
    </div>
  </div>


</div>
<%- include("partials/footer"); -%>
