<%- include("partials/header"); -%>

<!-- Body  [Bootstrap used here]----->
<div class="projects-page projects-grid-container">

  <%#projet 1%>

    <div class="card project1" style="width: 18rem;">
      <img src="images/search.jpg" class="card-img-top" alt="search image">
      <div class="card-body">
        <h5 class="card-title"><b>Search engine using Web search API </b>(HTML, CSS, Bootstrap, Js, Node.js, Express.js, ejs, Api)</h5>
        <%#<p class="card-text">Search engine using Web search API</p>%>
        <a  onclick="news()"class="btn btn-primary">See project</a>
      </div>
    </div>


<%#projet 2%>
  <div class="card project2" style="width: 18rem;">
    <img src="images/ecom.jpg" class="card-img-top" alt="search image">
    <div class="card-body">
      <h5 class="card-title"><b>Multi-product eCommerce Webshop</b></h5>
      <%#<p class="card-text">Search engine using Web search API</p>%>
      <a  href="#" class="btn btn-primary">Coming</a>
    </div>
  </div>



<%#projet 3%>
  <div class="card project3" style="width: 18rem;">
    <img src="images/web3project.jpg" class="card-img-top" alt="search image">
    <div class="card-body">
      <h5 class="card-title"><b>NFT Marketplace-Web3 Project</b></h5>
      <%#<p class="card-text">Search engine using Web search API</p>%>
      <a  href="#" class="btn btn-primary">Coming</a>
    </div>
  </div>


</div>
<%- include("partials/footer"); -%>
