*{
  margin : 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;

}



.hero{
  /*position: relative;*/
  width: 100%;
  height: 100%;
  background: #eff4fd;
}

ul.navbouton{
  padding-left: 40%;
}

nav{
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

nav ul li a:hover{
  color: orange;

}

.detel{
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 5%;
}


.detel h1{
  font-size: 25px;
  color: #212121;
  margin-bottom: 20px;
}

#typing-text{
  color: orange;

}

.detel p{
  color: #555;
  line-height: 22px;
}

.detel a{
  background: #212121;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  display: initial-block;
  margin: 30px 0;
  border-radius: 5px;


}

.photo{
  width: 25%;
  height: 25%;
  border-radius: 50%;

}

.hero > nav{
  padding-bottom: 2%;
}

.intro .intro-title{
  text-align: center;
}



@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  .photo{
    width: 35%;
    height: 35%;
  }
}



.footer p{
  text-align: center;
  font-size: 10px;
}


h5.pointer{
  cursor:pointer;
}


/*search bar*/
.search-bar{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.searchbutton button{
  background-color: black; /* Green */
  border: none;
  color: white;
  text-align: center;
  width: 100%;
  margin-right: 10px;
  border-radius: 5px;
}



/*news.ejs css*/


.flotte{
  display: flex;
        align-items: center;
        padding-bottom: 5%;
        margin-left: 25%;

}

.flotte img{
width: 200px;
border-radius: 10px;
}

.flotte image{
        flex-basis: 40%;
}

.flotte p{
  text-align: left;
       padding-left: 20px;
}

.news-title{
  text-align: center;
}


@media only screen and (max-width: 800px){
  /* For mobile phones: */
  .project-img{
    width: 10%;
  }

}


@media only screen and (max-width: 527px) {
  /* For mobile phones: */

  .noflotte{
    padding-bottom: 7%;
  }

  .noflotte img{
    width: 35%;
    border-radius: 5px;
    padding-left: 1%;
  }

  .noflotte > p{
    font-size: 13px;
  }

.news-title h3{
font-size: 17px;
}


.news-title p{
font-size: 13px;
}


}





/*news-content paage*/
#datePublished{
  font-size: 10px;
  color: gray;
}

.news-body{
  padding-bottom: 1px;

}

.image-news-contents img{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1%;
  border-radius: 5px;
}

.news-body p{
text-align: justify;
padding-left: 5%;
padding-right: 5%;
}

.next-page {
  text-align: center;
}

.next-page p{
  font-size: 12px;
}



#Previous{
  margin-right: 10px;
}

#Next{
    margin-left: 10px;
}

.page{
  color : black;
}





/*contact-me form css*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container-contact {
  border-radius: 5px;
  background-color: #eff4fd;
  padding: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;

}

.container-contact form input[type=submit]{
  background-color: black; /* Green */
  border: none;
  color: white;
  text-align: center;
  width: 100%;
  margin-right: 10px;
  border-radius: 5px;
}


h3#contact-me{
  text-align: center;
}

.contact-me-message{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1%;
}

form textarea{
  height: 150px;
}

@media only screen and (max-width: 527px) {
  .contact-me-message h3{
    font-size: 20px;
  }

  .contact-me-message h4{
    font-size: 15px;
  }

  .contact-me-message h5{
    font-size: 15px;
  }

  form textarea{
    height: 100px;
  }

  form input, form label{
    font-size: 15px;
}

.container-contact{
  padding: 5px;
  width: 70%;
}

.photo{
  width: 60%;
  }
}

/*-----*/

a:link { text-decoration: none; }


a:visited { text-decoration: none;}


a:active { text-decoration: none;}

/*tehnologies */



.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }
.item5 { grid-area: item5; }
.item6 { grid-area: item6; }



.grid-container {
  display: grid;
  grid-template-areas: 'item1 item2 item3'
    'item4 item5 item6';
  gap: 1px;

  padding: 10px;

}

.grid-container > div {
  text-align: center;

  padding: 20px 0;
  font-size: 30px;
}

.grid-container > div > img{
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}


@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .grid-container {
    display: grid;
    grid-template-areas: 'item1 item2'
      'item3 item4'
      'item5 item6';
    gap: 1px;

    padding: 10px;

  }
}

/*projects.ejs*/

.card:hover img{
  -ms-transform: scale(1.2); /* IE 9 */
  transform: scale(1.2);
  border-radius: 5px;
}


.projects-page{
  margin-top: 5%;
}

.card {
  margin-left: auto;
  margin-right: auto;
}



.project1 { grid-area: project1; }
.project2 { grid-area: project2; }
.project3 { grid-area: project3; }




.projects-grid-container {
  display: grid;
  grid-template-areas: 'project1 project2 project3';
  gap: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.projects-grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;

}



@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .projects-grid-container {
    display: grid;
    grid-template-areas: 'project1'
     'project2' 'project3';
    gap: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
}




/*github link*/
#github{
  color: black;
}

/*message-sent.ejs*/
.button-message{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #008CBA; /*Blue*/

}

/* about/ejs*/
.about{
  background: #eff4fd;
  text-align: center;
}
